.container{
    /* background: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    overflow: hidden;
    padding: 5vh 1vh;
    
}
.child1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background: rgb(0, 48, 0); */
    
}

.heading1 h1 {
    /* background-color: blue; */
    text-align: center;
    color:var(--texthover); /* Change to your preferred color */
    font-size: 40px;
}
.content{
    /* background: blue; */
    text-align: center;
    font-size: 2.7vh;
    font-weight: 300;
    margin: 20px;
    padding: 20px;
}
.child2 {
    /* background-color: blueviolet; */
    display: flex;
    height: auto;
    width: fill;
    flex-direction: column;

}

.h1{
    /* background-color: brown; */
    text-align: center;
    margin:3vh 0vh;
    color:var(--texthover); /* Change to your preferred color */
    display: flex ;
    justify-content: center;
    font-size: 40px;
}

.team {
    /* background-color: green; */
    display: flex;
    height: auto;
    width: fill;
    padding: 2vh;
    justify-content: center;
    column-gap: 5vh;
    row-gap: 5vh;
    flex-wrap: wrap ;
}

/* .team div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px; 
    background-color: rgba(41, 40, 40, 0.907);
    border-radius: 10px;
    height: 250px;
    gap: 20px;
    padding: 20px;
} */

.box {
    background-color: rgba(41, 40, 40, 0.907);
    height: auto;
    width: 220px; 
    display: flex;
    border-radius: 3vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7vh 0vh;
    row-gap: 7vh;
}
.img {
    height:150px;
    width: 150px ;
    border-radius: 100%;
}
.p{
    font-size: 22px;
}

@media (min-width: 1024px) {
    .team {
        padding-left: 350px;
        padding-right: 350px;
    }
}




.box:hover{
    cursor: pointer;
    transition: 0.3s ; 
    background-color: rgb(83, 83, 83);
}
/* .img:hover{
    animation: flip;
    animation:  flip 0.3s ease-in-out forwards; 
}
@keyframes flip {
    0% {
        transform: rotateY(0deg); 
    }
    100% {
        transform: rotateY(180deg); 
        width: 0px;
    }
} */