.container{
    /* background-color: violet; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 5vh 0vh;
    /* background-color: aqua; */

}

.more_about {
    display: flex;
}
.link {
    display: flex;
}
.text{
    width: 40%;
    line-height: 1.8;
    /* padding-left: 250px; */
}

.arrow{
    height:5vh;
    width:12vh;
    /* background-color: red; */

}
.text .more_about h2 {
    font-weight: 300;
}
.text p{
    font-size: larger;
    font-weight: 300;

}
.text h1{
    font-size: 10vh;
    font-weight: 400;
    margin-bottom: 2vh;
}

.more_about {
    display: inline-block;
    position: relative;
  }
  
  .more_about h2 {
    display: inline-block;
    position: relative;
    color: #5e5e5e;
    transition: color 0.3s ease;
  }
  
  .more_about h2:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #8e2cd998;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .more_about:hover h2 {
    color: #8e2cd998;
  }
  
  .more_about:hover h2:before {
    visibility: visible;
    transform: scaleX(1); /* Grow underline from the left */
  }
  
  .arrow {
    transition: transform 0.3s ease;
  }
  
  .more_about:hover .arrow {
    transform: translateX(7px); /* Slight arrow movement */
  }
  
  @media (max-width: 1024px) {
    .text{
        width: 50%;
        line-height: 1.8;
    }
}

@media (max-width: 769px) {
    .text{
        width: 60%;
        line-height: 1.6;
        font-size: 2.5vh;
    }
    .text h1{
        font-size: 8vh;
        font-weight: 400;
    }
}

@media (max-width: 470px) {
    .text{
        width: 100%;
        line-height: 1.3;
        font-size: 2.2vh;
        margin: 10px;
        padding: 0px;
    }
    .text h1{
        font-size: 9vh;
        font-weight: 400;
    }
    .container{
        margin: 5vh;
        padding:0px;
    }
    .more_about{
        padding: 0px;
        /* margin-bottom: 5vh; */
    }
}

@media (max-width: 426px) {
    .text{
        width: 100%;
        line-height: 1.3;
        font-size: 2vh;
        margin: 10px;
        padding: 0px;
    }
    .text h1{
        font-size: 6vh;
        font-weight: 400;
    }
    .container{
        margin: 5vh;
        padding:0px;
    }
    .more_about{
        padding: 0px;
        /* margin-bottom: 5vh; */
    }
}

@media (max-width: 320px) {
    .container{
        margin: 5vh;
        padding:0px;
        /* background-color: aqua; */
    }
    .text{
        width: 100%;
        line-height: 1.5;
        font-size: 2vh;
        margin: 0px;
        padding: 0px;
    }
    .text h1{
        font-size: 7vh;
        font-weight: 400;
    }
    .more_about{
        padding: 0px;
    }
}