.container{
    height: auto;
    display: flex;
    align-items: center;
    background-image: url("/home3.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 50% 400px;
    margin: 2vh;
    /* background-color: aqua; */
    padding: 15vh 3vh;
    margin-top: 0vh;


}
.text {
    display: flex;
    height: 100%;
    width:100%;
    /* background-color: blue; */
    align-items: center;
}
.text h1{
    /* background-color: red; */
    height: 100%;
    width: 100%;
    font-size:7vh;
    font-weight: 300;

    /* margin: 10vh; */
    

}
.text span{
    background-color: rgb(141, 43, 226);
}


@media (max-width:768px){
    .container {
        background-image: url("/home3.png");
        background-position: 100% 50%;
        background-size: 60% 50vh;
        padding: 15vh 3vh;
    }
}

@media (max-width:669px){
    .container {
        background-image:none;
        padding: 15vh 3vh;
        margin-top: -30vh;
    }
}