.container {
    /* Container settings */
    height: auto;
    justify-content: space-between;
    padding-top: 8vh;
    margin-top: 2vh;
    padding-bottom: 5vh;
    /* Add background image with gradient overlay */
    background: linear-gradient( rgb(0, 0, 0), rgba(255, 255, 255, 0) 700% /* Bottom part fades into image */
      ),
      url('/giphy.webp'); /* Path to your background image */
    
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling */


    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    margin-bottom: 0.5vh;
}

.child1 {
    /* background-color: brown; */
    height:100%; 
    width:45%;
    display:flex;
    flex-direction: column;
    row-gap: 10vh;
}

.heading {
    display: flex;
    flex-direction: column;
    height:30%;
    /* background-color: blue; */
    width:100%;
    padding-left: 5vh;
}
.heading h1{
    font-size: 50px;
    font-weight: 400;
}
.heading h2{
    font-size: 22px;
    margin-top: 3vh;
    font-weight: 200;
}
.gmail {
    display: flex;
    height:10%;
    /* background-color: blue; */
    width:100%;
    justify-content: start;
    align-items: center;
    padding-left: 5vh;
    font-size: 22px;
}
.gmail h2 {
    font-weight: 200;
}
.arrow_right {
    height:40px;
    width:40px;
    margin-left: 3vh;
}
.gmail:hover {
    cursor: pointer;
    transition: 0.5s; 
}

.child2 , .child3 {
    /* background-color: brown; */
    height:100%; 
    width:20%;
    display: flex;
    padding: 5vh auto;
    flex-direction: column;
    row-gap: 1vh;
}
.child2 .heading , .child2 .lists , .child3 .heading , .child3 .lists {
    /* background-color: red; */
    padding: 0vh 7vh;
}
.heading {
    height:20%;
}
.lists { 
    display: flex;
    height:40%;
    flex-direction: column;
    row-gap: 2.5vh;
}
.lists h3{
    font-weight: 200;
}


.child4 {
    /* background-color: brown; */
    height:100%; 
    width:5%;   
    padding-top: 3vh;
}
.arrow_up {
    /* background-color: black; */
    height:50px;
    width:50px;
}
.arrow_up:hover {
    cursor: pointer;
    transition: 0.5s;
}



@media (min-width:1023px){
    .container{
        width: 100%;
        display: flex;
        padding-right: 3vh;
        padding-left: 3vh;
    }
}
@media (max-width:1023px){
    .container{
        width: 98%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;

    }
    
    .child1 {
        width:100%;
        justify-content: center;
        /* background-color: red; */
    }
    .child1 .heading .h1, .child1 .heading .h2{
        display: flex;
        justify-content: center;
        /* background-color: red; */
        margin-left: -4vh;
    }
    .gmail{
        /* min-width: ; */
        /* background-color: red; */
        font-size:2vh;
        justify-content: center;
        margin-top: -6vh;
        padding: 0vh 2vh;
    }
    .child2 {
        /* background-color: red; */
        width: 100%;
    }
    .child2 .heading h2 {
        font-weight: 500;
        font-size: 4vh;
        margin-bottom: 2vh;
        display: flex;
        justify-content: center;
        color:  rgb(172, 109, 255);
    }
    .child2 .lists h3 {
        display: flex;
        justify-content: center;
    }
    .child3 {
        /* background-color: red; */
        width: 100%;
    }
    .child3 .heading h2 {
        font-weight: 500;
        font-size: 4vh;
        margin-bottom: 2vh;
        display: flex;
        justify-content: center;
        color: rgb(172, 109, 255);
    }
    .child3 .lists h3 {
        display: flex;
        justify-content: center;
    }
    .child4{
        display: none;
    }

}